table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid rgba(180, 229, 5, 0.165);
    text-align: center; /* Center text in table cells */
}

table tr:nth-child() {
    background-color: #f2f2f2; /* Light grey for even rows */
}


table th {
    background-color: white; /* White background for table header */
    color: rgb(255, 255, 255);
}
